<div class="home">
  <div *ngIf="costs && exchangeRates">
    <header>
      <div class="title">COSTS</div>
      <div class="currency-select">
        <label>Currency</label>
        <select [(ngModel)]="selectedCurrencyInfo">
          <option
            *ngFor="let currencyInfo of exchangeRates.paymentCurrencies"
            [ngValue]="currencyInfo"
          >
            {{ currencyInfo.toCurrency }}
          </option>
        </select>
      </div>
    </header>
    <table *ngFor="let cost of costs.costs">
      <tr>
        <th>{{ cost.name }}</th>
        <th *ngIf="cost.name === 'Port Expenses'">Account code</th>
        <th>Quoted</th>
        <th>Screened</th>
      </tr>
      <tr *ngFor="let costItem of cost.costItems">
        <td [class]="cost.name === 'Port Specific' ? 'wider' : ''">
          {{ costItem.name }}
        </td>
        <td *ngIf="cost.name === 'Port Expenses'">
          {{ costItem.costItemAlias.accountingCode }}
        </td>
        <td>
          <div>
            <span>{{ selectedCurrencyInfo.toCurrency }} </span
            >{{
              getCostItemCostEx(
                COST_TYPES.QUOTED,
                costItem.costs,
                selectedCurrencyInfo.exchangeRate
              ) | currency: "":""
            }}
          </div>
          <div>
            <span>{{ costs.baseCurrency.currency }} </span>
            {{
              getCostItemCostEx(
                COST_TYPES.QUOTED,
                costItem.costs,
                costs.baseCurrency.exchangeRate
              ) | currency: "":""
            }}
          </div>
        </td>
        <td class="cost-item-cost">
          <div>
            <span>{{ selectedCurrencyInfo.toCurrency }} </span
            >{{
              getCostItemCostEx(
                COST_TYPES.QUOTED,
                costItem.costs,
                selectedCurrencyInfo.exchangeRate
              ) | currency: "":""
            }}
          </div>
          <div>
            <span>{{ costs.baseCurrency.currency }} </span>
            {{
              getCostItemCostEx(
                COST_TYPES.QUOTED,
                costItem.costs,
                costs.baseCurrency.exchangeRate
              ) | currency: "":""
            }}
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="!costs && !exchangeRates">
    <div class="error-message">
      Sorry, there was a problem loading the data. Please contact us if this
      keeps occurring.
    </div>
  </div>
</div>
